In [1]:
#Import Dependencies
import pandas as pd

In [2]:
# Files to Load
PyCitySchools_Path = "Resources/schools_complete.csv"
PyCityStudents_Path = "Resources/students_complete.csv"

In [3]:
# Read the modified PyCitySchools csv and store into Pandas DataFrame
PyCitySchools_df = pd.read_csv(PyCitySchools_Path)
PyCitySchools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read the modified PyCityStudents csv and store into Pandas DataFrame
PyCityStudents_df = pd.read_csv(PyCityStudents_Path)
PyCityStudents_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
# Combine the data into a single dataset
complete_schools_df = pd.merge(PyCityStudents_df, PyCitySchools_df, how="left", on=["school_name", "school_name"])

complete_schools_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
#Count the total schools in PyCity
total_schools = PyCitySchools_df["School ID"].count()
total_schools

15

In [7]:
#Count the total students in PyCity
total_students = complete_schools_df["Student ID"].count()
total_students

39170

In [8]:
#Add the total budget for all schools
total_budget = PyCitySchools_df["budget"].sum()
total_budget

24649428

In [9]:
avg_math_score = round(PyCityStudents_df["math_score"].mean(),2)
avg_math_score

78.99

In [10]:
avg_read_score = round(PyCityStudents_df["reading_score"].mean(),2)
avg_read_score

81.88

In [11]:
#Students must have a score of 60% or higher to pass reading or math
math_pass = (PyCityStudents_df["math_score"] >= 70)

reading_pass = (PyCityStudents_df["reading_score"] >= 70)

per_math_pass = round((math_pass.sum()/total_students)*100,2)

per_reading_pass = round((reading_pass.sum()/total_students)*100,2)
per_math_pass, per_reading_pass

(74.98, 85.81)

In [12]:
complete_schools_df["Pass Math"] = (complete_schools_df["math_score"] >= 70)*100
complete_schools_df["Pass Reading"] = (complete_schools_df["reading_score"] >= 70)*100
complete_schools_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pass Math,Pass Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,100,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,100
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,100
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,100,100
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,100,100
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,100,100
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,0,100
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,100,100
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,100,100
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,100,100
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,100,100
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,100,0
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,100,100
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,0,100
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,100,100
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,0,100
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,100,100
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,0,0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,100,100
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,100,100
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,100,100
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,100,100
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,0,100
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,100,100
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,100,100
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,100,0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,0,100
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,0,100
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,100,100
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,100,100
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,100,100
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,100,100
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,100,100
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,100,100
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,100,0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,100,100
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,100,100
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,100,100
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,100,100
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,100,100
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,100,100
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,100,100
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,100,100
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,100,100
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,100,100
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,100,100
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,100,100
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,100,100
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,100,100
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,100,100
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,100,100
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,100,100
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,100,100
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,100,100
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,100,100
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,100,100
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,100,100
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,100,100

In [13]:
#Find the passing average of both math and reading

overall_pass = round(((per_math_pass+per_reading_pass)/2))
overall_pass

80.0

In [14]:
#Create a district summary
district_summary = {"Total Schools" : total_schools,
                   "Total Students" : total_students,
                   "Total Budget" : total_budget,
                   "Average Math Score" : avg_math_score,
                   "Average Reading Score" : avg_read_score,
                    "% Passing Math" : per_math_pass,
                   "% Passing Reading" : per_reading_pass,
                   "% Overall Passing" : overall_pass
                  }


district_summary_df = pd.DataFrame([district_summary])                                              
                                   
district_summary_df = district_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

#district_summary_df["Total Students"] = district_summary_df["Total Students"].map("${:,.2f}".format)
#district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.0

In [15]:
district_summary_df.columns

Index(['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score',
       'Average Reading Score', '% Passing Math', '% Passing Reading',
       '% Overall Passing'],
      dtype='object')

In [16]:
#Create a table with average scores for math and reading per school

avg_math_read = complete_schools_df.groupby(['school_name'])["budget","size",'reading_score', 'math_score','Pass Math','Pass Reading'].mean().reset_index()
avg_math_read

,school_name,budget,size,reading_score,math_score,Pass Math,Pass Reading
0,Bailey High School,3124928.0,4976.0,81.033963,77.048432,66.680064,81.933280
1,Cabrera High School,1081356.0,1858.0,83.975780,83.061895,94.133477,97.039828
2,Figueroa High School,1884411.0,2949.0,81.158020,76.711767,65.988471,80.739234
3,Ford High School,1763916.0,2739.0,80.746258,77.102592,68.309602,79.299014
4,Griffin High School,917500.0,1468.0,83.816757,83.351499,93.392371,97.138965
5,Hernandez High School,3022020.0,4635.0,80.934412,77.289752,66.752967,80.862999
6,Holden High School,248087.0,427.0,83.814988,83.803279,92.505855,96.252927
7,Huang High School,1910635.0,2917.0,81.182722,76.629414,65.683922,81.316421
8,Johnson High School,3094650.0,4761.0,80.966394,77.072464,66.057551,81.222432
9,Pena High School,585858.0,962.0,84.044699,83.839917,94.594595,95.945946
10,Rodriguez High School,2547363.0,3999.0,80.744686,76.842711,66.366592,80.220055
11,Shelton High School,1056600.0,1761.0,83.725724,83.359455,93.867121,95.854628
12,Thomas High School,1043130.0,1635.0,83.848930,83.418349,93.272171,97.308869
13,Wilson High School,1319574.0,2283.0,83.989488,83.274201,93.867718,96.539641
14,Wright High School,1049400.0,1800.0,83.955000,83.682222,93.333333,96.611111

In [17]:
#Find the budget per student and create a new column
avg_math_read["% Overall Passing Rate"] = (avg_math_read["Pass Math"] + avg_math_read["Pass Reading"])/2
avg_math_read["Budget per Student"] = avg_math_read['budget']/avg_math_read['size']

avg_math_read

,school_name,budget,size,reading_score,math_score,Pass Math,Pass Reading,% Overall Passing Rate,Budget per Student
0,Bailey High School,3124928.0,4976.0,81.033963,77.048432,66.680064,81.933280,74.306672,628.0
1,Cabrera High School,1081356.0,1858.0,83.975780,83.061895,94.133477,97.039828,95.586652,582.0
2,Figueroa High School,1884411.0,2949.0,81.158020,76.711767,65.988471,80.739234,73.363852,639.0
3,Ford High School,1763916.0,2739.0,80.746258,77.102592,68.309602,79.299014,73.804308,644.0
4,Griffin High School,917500.0,1468.0,83.816757,83.351499,93.392371,97.138965,95.265668,625.0
5,Hernandez High School,3022020.0,4635.0,80.934412,77.289752,66.752967,80.862999,73.807983,652.0
6,Holden High School,248087.0,427.0,83.814988,83.803279,92.505855,96.252927,94.379391,581.0
7,Huang High School,1910635.0,2917.0,81.182722,76.629414,65.683922,81.316421,73.500171,655.0
8,Johnson High School,3094650.0,4761.0,80.966394,77.072464,66.057551,81.222432,73.639992,650.0
9,Pena High School,585858.0,962.0,84.044699,83.839917,94.594595,95.945946,95.270270,609.0
10,Rodriguez High School,2547363.0,3999.0,80.744686,76.842711,66.366592,80.220055,73.293323,637.0
11,Shelton High School,1056600.0,1761.0,83.725724,83.359455,93.867121,95.854628,94.860875,600.0
12,Thomas High School,1043130.0,1635.0,83.848930,83.418349,93.272171,97.308869,95.290520,638.0
13,Wilson High School,1319574.0,2283.0,83.989488,83.274201,93.867718,96.539641,95.203679,578.0
14,Wright High School,1049400.0,1800.0,83.955000,83.682222,93.333333,96.611111,94.972222,583.0

In [18]:
schools_df = pd.merge(avg_math_read, PyCitySchools_df, how="left", on=["school_name", "school_name"])
schools_df

,school_name,budget_x,size_x,reading_score,math_score,Pass Math,Pass Reading,% Overall Passing Rate,Budget per Student,School ID,type,size_y,budget_y
0,Bailey High School,3124928.0,4976.0,81.033963,77.048432,66.680064,81.933280,74.306672,628.0,7,District,4976,3124928
1,Cabrera High School,1081356.0,1858.0,83.975780,83.061895,94.133477,97.039828,95.586652,582.0,6,Charter,1858,1081356
2,Figueroa High School,1884411.0,2949.0,81.158020,76.711767,65.988471,80.739234,73.363852,639.0,1,District,2949,1884411
3,Ford High School,1763916.0,2739.0,80.746258,77.102592,68.309602,79.299014,73.804308,644.0,13,District,2739,1763916
4,Griffin High School,917500.0,1468.0,83.816757,83.351499,93.392371,97.138965,95.265668,625.0,4,Charter,1468,917500
5,Hernandez High School,3022020.0,4635.0,80.934412,77.289752,66.752967,80.862999,73.807983,652.0,3,District,4635,3022020
6,Holden High School,248087.0,427.0,83.814988,83.803279,92.505855,96.252927,94.379391,581.0,8,Charter,427,248087
7,Huang High School,1910635.0,2917.0,81.182722,76.629414,65.683922,81.316421,73.500171,655.0,0,District,2917,1910635
8,Johnson High School,3094650.0,4761.0,80.966394,77.072464,66.057551,81.222432,73.639992,650.0,12,District,4761,3094650
9,Pena High School,585858.0,962.0,84.044699,83.839917,94.594595,95.945946,95.270270,609.0,9,Charter,962,585858
10,Rodriguez High School,2547363.0,3999.0,80.744686,76.842711,66.366592,80.220055,73.293323,637.0,11,District,3999,2547363
11,Shelton High School,1056600.0,1761.0,83.725724,83.359455,93.867121,95.854628,94.860875,600.0,2,Charter,1761,1056600
12,Thomas High School,1043130.0,1635.0,83.848930,83.418349,93.272171,97.308869,95.290520,638.0,14,Charter,1635,1043130
13,Wilson High School,1319574.0,2283.0,83.989488,83.274201,93.867718,96.539641,95.203679,578.0,5,Charter,2283,1319574
14,Wright High School,1049400.0,1800.0,83.955000,83.682222,93.333333,96.611111,94.972222,583.0,10,Charter,1800,1049400

In [19]:
#Find the overall passing per school
schools_df = schools_df.rename(columns={'budget_y':"Total School Budget",'school_name':'School Name','size_y':'Total Students',"reading_score":"Avg. Reading Score", "math_score":"Avg. Math Score","Pass Math": "% Pass Math","Pass Reading":"% Pass Reading","type":"School Type"})
schools_df

,School Name,budget_x,size_x,Avg. Reading Score,Avg. Math Score,% Pass Math,% Pass Reading,% Overall Passing Rate,Budget per Student,School ID,School Type,Total Students,Total School Budget
0,Bailey High School,3124928.0,4976.0,81.033963,77.048432,66.680064,81.933280,74.306672,628.0,7,District,4976,3124928
1,Cabrera High School,1081356.0,1858.0,83.975780,83.061895,94.133477,97.039828,95.586652,582.0,6,Charter,1858,1081356
2,Figueroa High School,1884411.0,2949.0,81.158020,76.711767,65.988471,80.739234,73.363852,639.0,1,District,2949,1884411
3,Ford High School,1763916.0,2739.0,80.746258,77.102592,68.309602,79.299014,73.804308,644.0,13,District,2739,1763916
4,Griffin High School,917500.0,1468.0,83.816757,83.351499,93.392371,97.138965,95.265668,625.0,4,Charter,1468,917500
5,Hernandez High School,3022020.0,4635.0,80.934412,77.289752,66.752967,80.862999,73.807983,652.0,3,District,4635,3022020
6,Holden High School,248087.0,427.0,83.814988,83.803279,92.505855,96.252927,94.379391,581.0,8,Charter,427,248087
7,Huang High School,1910635.0,2917.0,81.182722,76.629414,65.683922,81.316421,73.500171,655.0,0,District,2917,1910635
8,Johnson High School,3094650.0,4761.0,80.966394,77.072464,66.057551,81.222432,73.639992,650.0,12,District,4761,3094650
9,Pena High School,585858.0,962.0,84.044699,83.839917,94.594595,95.945946,95.270270,609.0,9,Charter,962,585858
10,Rodriguez High School,2547363.0,3999.0,80.744686,76.842711,66.366592,80.220055,73.293323,637.0,11,District,3999,2547363
11,Shelton High School,1056600.0,1761.0,83.725724,83.359455,93.867121,95.854628,94.860875,600.0,2,Charter,1761,1056600
12,Thomas High School,1043130.0,1635.0,83.848930,83.418349,93.272171,97.308869,95.290520,638.0,14,Charter,1635,1043130
13,Wilson High School,1319574.0,2283.0,83.989488,83.274201,93.867718,96.539641,95.203679,578.0,5,Charter,2283,1319574
14,Wright High School,1049400.0,1800.0,83.955000,83.682222,93.333333,96.611111,94.972222,583.0,10,Charter,1800,1049400

In [20]:
del schools_df['size_x']
del schools_df['School ID']
del schools_df['budget_x']

In [21]:
schools_df

,School Name,Avg. Reading Score,Avg. Math Score,% Pass Math,% Pass Reading,% Overall Passing Rate,Budget per Student,School Type,Total Students,Total School Budget
0,Bailey High School,81.033963,77.048432,66.680064,81.933280,74.306672,628.0,District,4976,3124928
1,Cabrera High School,83.975780,83.061895,94.133477,97.039828,95.586652,582.0,Charter,1858,1081356
2,Figueroa High School,81.158020,76.711767,65.988471,80.739234,73.363852,639.0,District,2949,1884411
3,Ford High School,80.746258,77.102592,68.309602,79.299014,73.804308,644.0,District,2739,1763916
4,Griffin High School,83.816757,83.351499,93.392371,97.138965,95.265668,625.0,Charter,1468,917500
5,Hernandez High School,80.934412,77.289752,66.752967,80.862999,73.807983,652.0,District,4635,3022020
6,Holden High School,83.814988,83.803279,92.505855,96.252927,94.379391,581.0,Charter,427,248087
7,Huang High School,81.182722,76.629414,65.683922,81.316421,73.500171,655.0,District,2917,1910635
8,Johnson High School,80.966394,77.072464,66.057551,81.222432,73.639992,650.0,District,4761,3094650
9,Pena High School,84.044699,83.839917,94.594595,95.945946,95.270270,609.0,Charter,962,585858
10,Rodriguez High School,80.744686,76.842711,66.366592,80.220055,73.293323,637.0,District,3999,2547363
11,Shelton High School,83.725724,83.359455,93.867121,95.854628,94.860875,600.0,Charter,1761,1056600
12,Thomas High School,83.848930,83.418349,93.272171,97.308869,95.290520,638.0,Charter,1635,1043130
13,Wilson High School,83.989488,83.274201,93.867718,96.539641,95.203679,578.0,Charter,2283,1319574
14,Wright High School,83.955000,83.682222,93.333333,96.611111,94.972222,583.0,Charter,1800,1049400

In [22]:
schools_df = schools_df[["School Name",
                   "School Type","Total Students","Total School Budget","Budget per Student","Avg. Math Score", "Avg. Reading Score",
                   "% Pass Math", "% Pass Reading", "% Overall Passing Rate"]]

schools_df

,School Name,School Type,Total Students,Total School Budget,Budget per Student,Avg. Math Score,Avg. Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [23]:
top_performing_schools_df = schools_df.sort_values(by=['% Overall Passing Rate'], ascending=False).head(5)
#top_performing_schools_df["Total School Budget"] = top_performing_schools_df["Total School Budget"].map("${:,.2f}".format)
#top_performing_schools_df["Budget per Student"] = top_performing_schools_df["Budget per Student"].map("${:,.2f}".format)

top_performing_schools_df

,School Name,School Type,Total Students,Total School Budget,Budget per Student,Avg. Math Score,Avg. Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [24]:
bottom_performing_schools_df = schools_df.sort_values(by=['% Overall Passing Rate'], ascending=True).head(5)
#bottom_performing_schools_df["Total School Budget"] = bottom_performing_schools_df["Total School Budget"].map("${:,.2f}".format)
#bottom_performing_schools_df["Budget per Student"] = bottom_performing_schools_df["Budget per Student"].map("${:,.2f}".format)

bottom_performing_schools_df

,School Name,School Type,Total Students,Total School Budget,Budget per Student,Avg. Math Score,Avg. Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [25]:
math_scores_by_grade_df = pd.pivot_table(PyCityStudents_df, values=['math_score'], index=['school_name'], 
                                         columns=['grade'])

math_scores_by_grade_df

                      math_score
grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [26]:
reading_scores_by_grade_df = pd.pivot_table(PyCityStudents_df, values=['reading_score'], index=['school_name'], 
                                         columns=['grade'])
reading_scores_by_grade_df

                      reading_score
grade                          10th       11th       12th        9th
school_name
Bailey High School        80.907183  80.945643  80.912451  81.303155
Cabrera High School       84.253219  83.788382  84.287958  83.676136
Figueroa High School      81.408912  80.640339  81.384863  81.198598
Ford High School          81.262712  80.403642  80.662338  80.632653
Griffin High School       83.706897  84.288089  84.013699  83.369193
Hernandez High School     80.660147  81.396140  80.857143  80.866860
Holden High School        83.324561  83.815534  84.698795  83.677165
Huang High School         81.512386  81.417476  80.305983  81.290284
Johnson High School       80.773431  80.616027  81.227564  81.260714
Pena High School          83.612000  84.335938  84.591160  83.807273
Rodriguez High School     80.629808  80.864811  80.376426  80.993127
Shelton High School       83.441964  84.373786  82.781671  84.122642
Thomas High School        84.254157  83.585542  83.831361  83.728850
Wilson High School        84.021452  83.764608  84.317673  83.939778
Wright High School        83.812757  84.156322  84.073171  83.833333

In [27]:
#Create Bins
bins = [0, 585, 615, 645, 675]
spending_labels = ['$0-585', '$586-615', '$616-645', '$646-675']

In [28]:
bins_school_spending = pd.cut(schools_df["Budget per Student"], bins, labels=spending_labels)

bins_school_spending = pd.DataFrame(bins_school_spending)

schools_df["Spending Level"] = bins_school_spending

bins_school_spending

/Users/stevencantor/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   Budget per Student
0            $616-645
1              $0-585
2            $616-645
3            $616-645
4            $616-645
5            $646-675
6              $0-585
7            $646-675
8            $646-675
9            $586-615
10           $616-645
11           $586-615
12           $616-645
13             $0-585
14             $0-585

In [29]:
scores_by_school_spending = schools_df.groupby(['Spending Level'])['Avg. Reading Score',
                                                         'Avg. Math Score',
                                                         '% Pass Reading',
                                                         '% Pass Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()
scores_by_school_spending

,Avg. Reading Score,Avg. Math Score,% Pass Reading,% Pass Math,% Overall Passing Rate
Spending Level,,,,,
$0-585,83.933814,83.455399,96.610877,93.460096,95.035486
$586-615,83.885211,83.599686,95.900287,94.230858,95.065572
$616-645,81.891436,79.079225,86.106569,75.668212,80.887391
$646-675,81.027843,76.997210,81.133951,66.164813,73.649382

In [30]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
 
bins_school_size = pd.cut(schools_df['Total Students'], size_bins, labels=group_names)

bins_school_size = pd.DataFrame(bins_school_size)

schools_df['Total Students'] = bins_school_size

bins_school_size

/Users/stevencantor/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        Total Students
0    Large (2000-5000)
1   Medium (1000-2000)
2    Large (2000-5000)
3    Large (2000-5000)
4   Medium (1000-2000)
5    Large (2000-5000)
6        Small (<1000)
7    Large (2000-5000)
8    Large (2000-5000)
9        Small (<1000)
10   Large (2000-5000)
11  Medium (1000-2000)
12  Medium (1000-2000)
13   Large (2000-5000)
14  Medium (1000-2000)

In [32]:
scores_by_school_size = schools_df.groupby(['Total Students'])['Avg. Reading Score',
                                                         'Avg. Math Score',
                                                         '% Pass Reading',
                                                         '% Pass Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()
scores_by_school_size

,Avg. Reading Score,Avg. Math Score,% Pass Reading,% Pass Math,% Overall Passing Rate
Total Students,,,,,
Large (2000-5000),81.344493,77.746417,82.766634,69.963361,76.364998
Medium (1000-2000),83.864438,83.374684,96.790680,93.599695,95.195187
Small (<1000),83.929843,83.821598,96.099437,93.550225,94.824831

In [33]:
scores_by_school_type = schools_df.groupby(['School Type'])['Avg. Reading Score',
                                                         'Avg. Math Score',
                                                         '% Pass Reading',
                                                         '% Pass Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()
scores_by_school_type

,Avg. Reading Score,Avg. Math Score,% Pass Reading,% Pass Math,% Overall Passing Rate
School Type,,,,,
Charter,83.896421,83.473852,96.586489,93.620830,95.103660
District,80.966636,76.956733,80.799062,66.548453,73.673757

In [34]:
#Observation 1:

#Charter schools have a much higher overall passing rate than District schools.

#Observation 2:

#Large schools, with students over 2000 students, have the lowest overall passing rate.